/* #region Global */

html,
body {
  height: 100%;
  box-sizing: border-box;
  pointer-events: auto;
  cursor: url("https://dsundell.studio.mcad.edu/design-studio/nocta/imgs/inactive-cursor.svg"), default;
}

:root {
  /* main color pallette */
  --light: #FAF5F0;
  --dark: #292525;
  --gold: #A69067;
  --red: #82483B;
  --dark-mid: #373333;
  --dark-fade: #FAF5F011;
  --aegean: #618591;
  --forest: #5A7565;
  --algae: #6B7654;
  --haze: #726B84;
}

body {
  background-color: var(--dark);
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.05em;
}

main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.transparentObject {
  opacity: 0;
  pointer-events: none;
  cursor: url("https://dsundell.studio.mcad.edu/design-studio/nocta/imgs/inactive-cursor.svg"), default;
}

.reg {
  background-color: var(--dark);
}

.alt {
  background-color: var(--gold);
}

#app {
  height: 100%;
  width: 100%;
}

.lighthouse {
  color: var(--aegean);
}

.lake {
  color: var(--algae);
}

.forest {
  color: var(--forest);
}

.town {
  color: var(--haze);
}

.inactiveCursor {
  cursor: url("https://dsundell.studio.mcad.edu/design-studio/nocta/imgs/inactive-cursor.svg"), default;
  z-index: 999;
  transition: ease .3s;
}

.activeCursor {
  cursor: url("https://dsundell.studio.mcad.edu/design-studio/nocta/imgs/active-cursor.svg"), pointer;
  z-index: 999;
  transition: ease .3s;
}

/* #endregion Global */

/* #region Typography */

.type-primary {
  font-family: eidetic-neo-omni,sans-serif;
  font-weight: 400;
  font-style: normal;
}

.type-secondary {
  font-family: broadsheet,serif;
  font-weight: 400;
  font-style: italic;
}

.type-tertiary {
  font-family: 'Proxima Nova';
  font-weight: 300;
  font-style: normal;
}

.type-body {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 200%;
  letter-spacing: .05em;
}

.type-body::first-letter {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 200%;
  letter-spacing: .05em;
}


i {
  font-family: proxima-nova,sans-serif;
  font-weight: 400;
  font-style: italic;
}

b {
  font-family: proxima-nova,sans-serif;
  font-weight: 700;
  font-style: normal;
}

a {
  text-decoration: none;
  cursor: url("https://dsundell.studio.mcad.edu/design-studio/nocta/imgs/active-cursor.svg"), pointer;
}

a:link, a:visited {
  color: var(--light);
}

.quote {
  font-family: broadsheet,serif;
  font-weight: 400;
  font-style: normal;
}

.label {
  padding: 1rem 2rem;
  background-color: var(--dark);
  border: var(--gold) 1px solid;
  z-index: 99;
  color: var(--light);
  text-transform: uppercase;
  font-size: .6125rem;
  line-height: 1rem;
  letter-spacing: 0.37em;
  font-family: 'Proxima Nova';
  font-weight: 300;
  font-style: normal;
  text-align: center;
  width: 9rem;
}

.type--uppercase--small {
  text-transform: uppercase;
  font-size: .725rem;
  letter-spacing: 0.37em;
}

.type--normal--mid {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 0.37em;
}

.type--reaction {
  color: var(--gold);
  font-size: 2.5rem;
  font-style: italic;
  padding: .5rem 0 1rem 0;
  text-align: center;
}

.span-red {
  color: var(--red);
}

.span-white {
  color: var(--light);
}

.span-gold {
  color: var(--gold);
}

.strikethrough {
  color: var(--gold);
  opacity: 50%;
}

/* #endregion Typography */

/* #region Nav */

.open {
  background-color: var(--gold);
}

.closed {
  background-color: var(--dark);
}

.nav--container {
  top: 0;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 13%;
  min-height: 5rem;
  color: var(--light);
}

.nav--logo {
  height: 40%;
  padding-left: 3rem;
}

.nav--logo img {
  max-width: 100%;
  max-height: 100%;
}

.nav--right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  padding-right: 3rem;
}

.nav--location-text {
  text-transform: uppercase;
  font-size: .8125rem;
  line-height: 1rem;
  letter-spacing: 0.37em;
}

.nav--location-text a {
  color: var(--light);
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8125rem;
  line-height: 1rem;
  letter-spacing: 0.37em;
}

.nav--black-text {
  color: var(--dark);
}

.nav--hmbgr {
  margin-top: .45rem;
}

.nav--hmbgr:hover .hmbgr {
  background-color: var(--light);
}

.hmbgr {
  display: block;
  width: 1.5rem;
  height: .10rem;
  margin-bottom: .45rem;
  background-color: var(--gold);
  transition: ease .3s;
}

.about--lines {
  background-color: var(--dark);
}

.nav--lines {
  background-color: var(--gold);
}

.module--lines {
  background-color: var(--light);
}

.nav--hmbgr__alt .hmbgr {
  background-color: var(--light);
}

.nav--hmbgr__alt:hover .hmbgr {
  background-color: var(--dark);
}

/* #endregion Nav */

/* #region Module */

.module--overlay {
  position: absolute;
  z-index: 3;
  height: 87%;
  width: 100%;
  background: #292525ab;
}

.module--container {
  position: absolute;
  top: 7.5%;
  width: 100%;
  height: 87%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.module--wip {
  position: relative;
  z-index: 4;
  width: 50%;
  height: 60vh;
  background-color: var(--dark);
  border: var(--light) .5px solid;
  color: var(--light);
}

.module--content {
  position: absolute;
  top: 2rem;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0rem 5rem 0rem 5rem;
  overflow: auto;
  margin: 2rem 0 4rem 0;
}

.module--image {
  color: var(--light);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-height: 60vh;
}

.module--alignment {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  padding: 0rem 4rem 0rem 4rem;
  overflow-y: scroll;
  height: 100%;
}

.module--content--container {
  padding: 2rem 2rem;
}

.module--img {
  margin: 2rem 4rem;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-evenly;
  flex-basis: 66.66%;
  min-height: 66.66%;
}

.module--inlineimg {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  padding: 1rem 0;
}

.module--inlineimg img{
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.module--img img{
  max-width: 100%;
  height: auto;
  min-height: 100%;
  object-fit: contain;
}

.module--type {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  font-size: 1.25rem;
  font-family: Broadsheet;
  font-style: normal;
  line-height: 150%;
  letter-spacing: 0.1em;
  color: var(--light);
  border-color: var(--light);
  border-top: .5px solid;
  width: 100%;
  height: fit-content;
  max-height: 33.33%;
  flex-basis: 33.33%;
  padding: 2rem 0;
}

.module--type p {
  margin: 0rem 2rem;
}

.module--content::-webkit-scrollbar,
.module--wip::-webkit-scrollbar, 
.module--alignment::-webkit-scrollbar, 
.module--image::-webkit-scrollbar,
.journal--location--entries::-webkit-scrollbar, 
.splash--paragraph--container::-webkit-scrollbar {
  display: none;
}

.module--headline {
  text-align: left;
  font-size: 2rem;
  color: var(--gold);
  margin: 2rem 0 1rem 0;
}

.module--body {
  text-align: left;
  margin-top: 3rem;
}

.module--body::first-letter {
  color: var(--gold);
  float: left;
  font-family: broadsheet,serif;
  font-weight: 400;
  font-style: normal; 
  font-size: 3.75rem;
  line-height: 3rem;
  padding-right: .65rem;
}

.module--line {
 background-color: var(--light);
 width: 100%;
 height: .5px;
}

.module--close {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.module--hmbgr {
  margin-top: .45rem;
  float: right;
}

.module--hmbgr .hmbgr {
  background-color: var(--light);
}

.module--hmbgr:hover .hmbgr {
  background-color: var(--gold);
}

.module--decision--container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: stretch;
  gap: 2rem;
  padding: 1rem 0;
}

.module--decision--type {
  flex-basis: 33.3333%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: .5rem;
  border-radius: .5rem;
  background-color: var(--dark-fade);
  font-family: Broadsheet;
  color: var(--light);
  width: fit-content;
  cursor: url("https://dsundell.studio.mcad.edu/design-studio/nocta/imgs/active-cursor.svg"), pointer;
}

.module--decision--type a {
  text-decoration: none;
  color: var(--light);
}

.module--response {
  font-size: 1.25rem;
  font-family: Broadsheet;
  font-style: normal;
  letter-spacing: 0.1em;
  color: var(--light);
  padding: .05rem 0rem;
  width: fit-content;
}

.module--decision--type:hover {
  background-color: var(--red);
  transition: 2s ease;
}

.long--response--container {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.long--response {
  width: 80%;
  text-align: left;
  color: var(--gold);
  font-family: broadsheet,serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 150%;
  text-transform: uppercase;
  font-variant-numeric: oldstyle-nums;
  letter-spacing: .25rem;
}

/* #endregion Module */

/* #region Page Structure */

.no-overflow--container {
  width: 100%;
  height: 87%;
  overflow: hidden;
  position: relative;
}

/* #endregion Page Structure */

/* #region Home */

.home--base {
  background: url(https://dsundell.studio.mcad.edu/design-studio/nocta/https://dsundell.studio.mcad.edu/design-studio/nocta/imgs/base.jpg) bottom center/contain no-repeat;
}

.home--town {
  background: url(https://dsundell.studio.mcad.edu/design-studio/nocta/https://dsundell.studio.mcad.edu/design-studio/nocta/imgs/town.jpg) bottom center/contain no-repeat;
}

.home--lighthouse {
  background: url(https://dsundell.studio.mcad.edu/design-studio/nocta/https://dsundell.studio.mcad.edu/design-studio/nocta/imgs/lighthouse.jpg) bottom center/contain no-repeat;
}

.home--lake {
  background: url(https://dsundell.studio.mcad.edu/design-studio/nocta/https://dsundell.studio.mcad.edu/design-studio/nocta/imgs/lake.jpg) bottom center/contain no-repeat;
}

.home--woods {
  background: url(https://dsundell.studio.mcad.edu/design-studio/nocta/https://dsundell.studio.mcad.edu/design-studio/nocta/imgs/woods.jpg) bottom center/contain no-repeat;
}

.locations--label {
  text-transform: uppercase;
  color: var(--light);
  background-color: var(--dark);
  padding: 0.5rem 1rem;
  border: .5px solid var(--light);
  width: fit-content;
  font-size: .6125rem;
  line-height: 1rem;
  letter-spacing: 0.37em;
}

.locations--label--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 3rem;
  position: absolute;
  width: 13rem;
  z-index: 2;
  top: calc(15% - 1.5rem);;
  left: calc(50% - 7.5rem);
}

.locations--container {
  position: absolute;
  bottom: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.locations--container svg {
  position: absolute;
  bottom: 0;
}

.headline--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: fit-content;
  margin-top: -.7rem;
  position: relative;
  z-index: 2;
}

.headline--container h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0;
}

.headline--type .type-primary {
  color: var(--gold);
  font-size: 11rem;
  line-height: 11rem;
  letter-spacing: -0.02em;
}

.headline--type .type-secondary {
  color: var(--light);
  font-family: Broadsheet;
  font-size: 4.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.05em;
  text-transform: lowercase;
}

.headline--container .type-tertiary {
  color: var(--light);
  font-family: Proxima Nova;
  font-size: .8125rem;
  line-height: 1rem;
  letter-spacing: 0.37em;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.nav--button--container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13%;
  min-height: 5rem;
  min-width: 2rem;
  max-width: 3rem;
  top: 0rem;
  right: 0rem;
  z-index: 200;
}

.audio--button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: url("https://dsundell.studio.mcad.edu/design-studio/nocta/imgs/active-cursor.svg"), default;
  width: 2rem;
  right: 3rem;
}

.audio--button img {
  max-width: 100%;
  max-height: 100%;
}

.journal--button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: url("https://dsundell.studio.mcad.edu/design-studio/nocta/imgs/active-cursor.svg"), default;
  width: 3rem;
  right: 7rem;
}

.journal--button img {
  max-width: 100%;
  max-height: 100%;
}

.answerButton:hover {
  background-color: var(--red);
  border-color: var(--red);
  cursor: url("https://dsundell.studio.mcad.edu/design-studio/nocta/imgs/active-cursor.svg"), default;
  transition: ease .3s;
}

.answerButton {
  background-color: var(--gold);
  color: var(--light);
  height: fill;
  border-color: var(--gold);
  border-radius: .5rem;
  border-width: .125rem;
  border-style: solid;
  padding: 0rem 1rem;
  transition: ease .3s;
  flex-basis: 20%;
}

.answerInput {
  color: var(--light);
  height: 3.1rem;
  background-color: var(--dark-fade);
  border: none;
  border-radius: .5rem;
  flex-basis: 80%;
  vertical-align: middle;
  padding: 0 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--gold);
  opacity: 1; /* Firefox */
}

.puzzle--container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin: 2rem 0 0rem 0 ;
  padding: .5rem .5rem .5rem .5rem;
}

.global-input {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  min-width: 20rem;
  max-width: 30rem;
  border-radius: .5rem;
  background-color: var(--dark);
}

/* #endregion Home */

/* #region Wayfind */

.wayfind--container {
  width: 100%;
  height: 87%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background:url('https://dsundell.studio.mcad.edu/design-studio/nocta/https://dsundell.studio.mcad.edu/design-studio/nocta/imgs/fish.jpg') bottom right -5rem/contain no-repeat;
}

.wayfind--items {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5rem;
  padding-left: 10rem;
  margin-top: -5rem;
}

.wayfind--item {
  color: var(--light);
  font-size: 9rem;
  line-height: 9rem;
  letter-spacing: 0.1em;
  transition: ease .3s;
}

.wayfind--item:hover {
  color: var(--dark);
  cursor: pointer;
}


/* #endregion Wayfind */

/* #region Splash */

.splash--container {
  height: 87%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.splash--bg--nina {
  background-image: url('https://dani-sundell.github.io/explore-nocta/imgs/splash.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 70%;
}

.splash--bg--fish {
  background-image: url('https://dani-sundell.github.io/explore-nocta/imgs/fish.png');
  background-repeat: no-repeat;
  background-position-x: 105%;
  background-position-y: 110%;
  background-size: 50%;
}

.splash--headline--container {
  height: auto;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 2rem 0;
  padding: 0;
}

.splash--container--justify {
  height: 87%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.splash--container--justify .splash--subhead--container {
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  font-family: Broadsheet;
  font-size: 1.5rem;
  line-height: 150%;
  letter-spacing: 0.075rem;
  text-transform: lowercase;
  color: var(--gold);
}

.splash--container--justify .splash--subhead--container :last-child {
  align-self: flex-end;
}

.splash--headline--container--justify {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 4rem;
  padding: 0;
}

.splash--paragraph--container {
  padding: 0 0 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  min-width: 20rem;
  max-width: 30rem;
  overflow: auto;
}

.splash--paragraph--container .module--body {
  margin: 0;
  color: var(--light);
}

.splash--content--container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  margin-right: 4rem;
}

.splash--text {
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1rem;
  margin: 0;
  padding: 2rem 0;
  text-align: center;
}

.splash--headline--container img {
  max-height: 2rem;
  max-width: 2rem;
}

.splash--headline--type {
  margin: 0;
}

.splash--headline--type .type-primary {
  color: var(--gold);
  font-size: 9rem;
  line-height: 9rem;
  letter-spacing: -0.02em;
}

.splash--headline--type .type-secondary {
  color: var(--light);
  font-family: Broadsheet;
  font-size: 4.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.05em;
  text-transform: lowercase;
}

.splash--headline--container--justify .splash--headline--type .type-secondary {
  padding: 0 10rem 0 0;
}

.splash--headline--container--justify .splash--headline--type .type-primary {
  padding: 0 0 0 7rem;
}

.splash--subhead--container {
  width: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  color: var(--light);
}

.splash--subhead--container p {
  margin: 0;
}

.splash--subhead {
  font-family: Broadsheet;
  font-size: 1.35rem;
  line-height: 1.35rem;
  letter-spacing: 0.075rem;
  text-transform: lowercase;
}

.splash--subhead--desc {
  font-family: Proxima Nova;
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 0.075rem;
  font-weight: 300;
}

.divider-y {
  padding: 0 0 1rem 0;
}

.divider-n {
  padding: 1rem 0 0 0;
}

.splash--subhead--bold {
  font-family: Broadsheet;
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 0.225rem;
  text-transform: uppercase;
}

.splash--headline--container--justify h1.splash--headline--type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0rem;
  padding: 0;
  margin: 0;
}

h1.splash--headline--type {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.splash--headline--type--quote {
  font-size: 1.75rem;
  line-height: 1rem;
  letter-spacing: 0.37em;
  text-transform: uppercase;
} 

.splash--headline--container .type-tertiary {
  color: var(--light);
  font-family: Proxima Nova;
  font-size: .8125rem;
  line-height: 1.5rem;
  letter-spacing: 0.37em;
  margin-bottom: 0rem;
  text-transform: uppercase;
}

.splash--button-stack--right {
  position: absolute;
  right: 3em;
  top: 13%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.splash--button-stack--center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 18rem;
  gap: 1.5rem;
}

.splash--container--button {
  background-color: var(--red);
  border-color: var(--red);
  color: var(--light);
  height: 1rem;
  border-radius: .5rem;
  border-width: .125rem;
  border-style: solid;
  padding: .5rem 1rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1rem;
  letter-spacing: 0.37rem;
  transition: ease .3s;
  min-width: 6rem;
  max-width: fit-content;
}

.splash--container--button-dark {
  background-color: var(--dark-mid);
  border-color: var(--dark-mid);
  color: var(--light);
  height: 1rem;
  border-radius: .5rem;
  border-width: .125rem;
  border-style: solid;
  padding: .5rem 1rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1rem;
  letter-spacing: 0.37rem;
  transition: ease .3s;
  min-width: 6rem;
  max-width: fit-content;
}

.splash--container--button:hover, .splash--container--button-dark:hover {
  background-color: var(--gold);
  border-color: var(--gold);
}

.splash--module--line {
  background-color: var(--gold);
  width: 50%;
  min-height: .5px;
}

.splash--img {
  height: 3.5rem;
  padding-bottom: 2rem;
}

.splash--img img {
  max-width: 100%;
  max-height: 100%;
}


/* #endregion Splash */

/* #region Demo */

.demo--body--container {
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1rem;
  margin: 0;
  padding: 2rem 0;
  text-align: center;
}


.demo--body {
  font-size: 1.15rem;
  line-height: 1.85rem;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: var(--light);
}

.demo--body img {
  height: 1.25rem;
  width: auto;
}

.demo--body-bold {
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0.37em;
  text-transform: uppercase;
}

.demo--headline--type .type-primary {
  color: var(--gold);
  font-size: 7rem;
  line-height: 7rem;
  letter-spacing: -0.02em;
}

.demo--headline--type .type-secondary {
  color: var(--light);
  font-family: Broadsheet;
  font-size: 2.55rem;
  line-height: 2.55rem;
  letter-spacing: 0.05em;
  text-transform: lowercase;
}

h1.demo--headline--type {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1rem;
  padding: 0 4rem;
}

h2.demo--headline--type {
  margin-bottom: 2rem;
}

.lighthouse--demo--container {
  top: 0;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 13%;
  min-height: 5rem;
  color: var(--light);
  background-color: var(--dark);
}

.lighthouse--demo--bold {
  font-size: .8125rem;
  line-height: 1.5rem;
  letter-spacing: 0.37em;
  text-transform: uppercase;
  margin-right: .5rem;
}

.lighthouse--demo--logo {
  height: 40%;
  padding-left: 3rem;
}

.lighthouse--demo--logo img {
  max-width: 100%;
  max-height: 100%;
}

.lighthouse--demo--nav--text {
  font-size: 1rem;
}

.lighthouse--demo--right {
  padding-right: 5rem;
}

.lighthouse--demo--text {
  text-transform: uppercase;
  font-size: .7125rem;
  line-height: 1rem;
  letter-spacing: 0.37em;
}

/* #endregion Demo */

/* --------------- PAGES / LEVEL 2 ----------------- */

/* #region About */


.about--type {
  color: var(--dark);
}

.about--container {
  background-color: var(--gold);
  width: 100%;
  height: 87%;
  position: relative;
}

.about--content {
  background-color: var(--gold);
  width: 60%;
  height: 100%;
  position: absolute;
  right: 0;
  gap: 0rem;
}

.about--nav--hmbgr {
  margin-top: .45rem;
}

.about--nav--hmbgr:hover .about--lines {
  background-color: var(--light);
}

.about--hmbgr {
  display: block;
  width: 1.8rem;
  height: .2rem;
  margin-bottom: .45rem;
  background-color: var(--dark);
  transition: ease .3s;
}

.about--body {
  width: 55%;
  position: absolute;
  color: var(--light);
  padding-bottom: 3rem;
  text-align: left;
}

.about--body::first-letter {
  color: var(--dark);
  float: left;
  font-family: broadsheet,serif;
  font-weight: 400;
  font-style: normal; 
  font-size: 3.75rem;
  line-height: 3rem;
  padding-right: .65rem;
}

.about--img {
  width: 100%;
  height: 100%;
  background: url('https://dsundell.studio.mcad.edu/design-studio/nocta/https://dsundell.studio.mcad.edu/design-studio/nocta/imgs/map.jpg') bottom right/contain no-repeat;
}


.about--details {
  width: 50%;
  height: 100%;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: auto; 
}

.about--details::-webkit-scrollbar {
  width: .35rem;
  display: none;
}

/* #endregion About */

/* #region Meta */

.meta--container {
  background-color: var(--gold);
  width: 100%;
  height: fit-content;
}

.meta--headline--type--container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  gap: 1rem;
  width: 100%;
  height: 100%;
  position: relative;
}

.meta--headline--type {
  margin-left: 10rem;
  height: 21.825625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 2;
}

.meta--head-one {
  width: 100%;
  height: 11.07575rem;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.meta--head-one img{
  width: auto;
  height: 60%;
}

.meta--headline--type .type-primary {
  font-size: 11.07575rem;
  line-height: 1;
  letter-spacing: -0.02em;
}

.meta--headline--type .type-secondary {
  color: var(--light);
  font-family: Broadsheet;
  font-size: 3.75rem;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: lowercase;
  margin: 0 0 0 -5rem;
}

.meta--head-two {
  width: 50%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-start;
}

.meta--headline--type .quote {
  font-size: 2rem;
  margin: 0;
  color: var(--dark);
}

.meta--headline--type .quote:first-child {
  align-self: flex-start;
}

.meta--details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 5rem;
}

.meta--img {
  position: absolute;
  height: 80%;
  width: 50%;
  right: 0;
  bottom: 0;
  z-index: 1;
  background:url('https://dsundell.studio.mcad.edu/design-studio/nocta/https://dsundell.studio.mcad.edu/design-studio/nocta/imgs/lighthouse-solo.jpg') bottom center / contain no-repeat;
}

.meta--body {
  flex-basis: 30%;
  margin-left: 10rem;
  color: var(--light);
  padding-bottom: 5rem;
  text-align: left;
}

.meta--body::first-letter {
  color: var(--dark);
  float: left;
  font-family: broadsheet,serif;
  font-weight: 400;
  font-style: normal; 
  font-size: 3.75rem;
  line-height: 3rem;
  padding-right: .65rem;
}

.meta--two--container {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  background-color: var(--dark);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.meta--two--container img{
  max-width: 100%;
  max-height: 100%;
}

.meta--three--container {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  background-color: var(--gold);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meta--three--type {
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meta--stack--intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-bottom: 5rem;
}

.meta--stack--intro .type-secondary {
  color: var(--light);
  font-family: Broadsheet;
  font-size: 3.75rem;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: lowercase;
  margin: 0;
}

.meta--stack--intro .quote {
  font-size: 2rem;
  color: var(--dark);
  margin: 0;
}

.meta--stack--tools {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.meta--stack--lit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 12rem;
  margin: 0 10rem;
  max-width: 70%;
}

.meta--stack--lit-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  flex-basis: 50%;
}

.meta--stack--lit-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.meta--stack--lit-title {
  font-size: 2.15rem;
  text-align: center;
  color: var(--light);
  line-height: 1.15;
}

.meta--stack--lit-author {
  font-size: 1.5rem;
  text-align: center;
  color: var(--dark);
}

.meta--stack--lit-press {
  color: var(--dark);
  text-align: center;
  text-transform: uppercase;
}


/* #endregion Meta */

/* --------------- PAGES / LEVEL 3 ----------------- */

/* #region Lighthouse */

.lighthouse--container {
  position: absolute;
  bottom: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.lighthouse--container svg {
  position: absolute;
  bottom: 0;
}

/* #endregion Lighthouse */

/* --------------- PAGES / LEVEL 4 ----------------- */

/* #region Creature */

.creature--container {
  background-color: var(--dark);
  width: 100%;
  height: 87%;
  position: relative;
}

.creature--headline--container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  height: 100%;
  position: absolute;
  gap: 1rem;
  margin-top: 0rem;
}

.creature--headline--type--container {
  margin-top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.creature--headline--type {
  margin: 0;
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 2rem;
}

.nonhanging-padding {
  padding-bottom: 2rem;
}

.hanging-padding {
  padding-bottom: 3rem;
}

.creature--headline--type .type-primary {
  font-size: 12rem;
  line-height: 9rem;
  letter-spacing: -0.02em;
}

.creature--headline--type .type-secondary {
  color: var(--light);
  font-family: Broadsheet;
  font-size: 4.0625rem;
  line-height: 5rem;
  letter-spacing: 0.05em;
  text-transform: lowercase;
}

.creature--details {
  width: 50%;
  height: 60%;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: auto; 
}

.creature--body--container {
  height: 100%;
  width: 100%;
  bottom: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.creature--toggle {
  width: 30%;
  height: 10%;
  z-index: 3;
  position: relative;
  margin: 0 0 2.5rem 0;
  padding: .8rem 0;
  left: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: var(--gold);
}

.toggle--type {
  font-size: 2.25rem;
  line-height: 2.5rem;
  cursor: pointer;
}

.toggle--type--active {
  transition: ease .3s;
}

.toggle--type--inactive {
  color: var(--light);
  transition: ease .3s;
}

.toggle--eye {
  height: 30%;
  padding: 0rem 0;
}

.toggle--eye img {
  max-width: 100%;
  max-height: 100%;
}

.creature--body {
  width: 55%;
  position: absolute;
  color: var(--light);
  padding-bottom: 3rem;
  text-align: left;
}

.creature--body::first-letter {
  color: var(--gold);
  float: left;
  font-family: broadsheet,serif;
  font-weight: 400;
  font-style: normal; 
  font-size: 3.75rem;
  line-height: 3rem;
  padding-right: .65rem;
}

/* scrollbar */

.creature--details::-webkit-scrollbar {
  width: .35rem;
  display: none;
}

.creature--details::-webkit-scrollbar-track {
  background: var(--dark-fade);
}

.creature--details::-webkit-scrollbar-thumb {
  background: var(--dark-fade);
  transition: ease .3s;
}


.creature--content {
  background-color: var(--dark);
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  gap: 0rem;
}

.creature--img {
  width: 100%;
  height: 100%;
}

.creature--img--lighthouse {
  background:linear-gradient(#292525ff, #29252500), url('https://dsundell.studio.mcad.edu/design-studio/nocta/https://dsundell.studio.mcad.edu/design-studio/nocta/imgs/keeper.jpg') bottom right/contain no-repeat;
}

.creature--img--lake {
  background:linear-gradient(#292525ff, #29252500), url('https://i.pinimg.com/originals/72/f1/20/72f120994ab0435dbd234bce21929e94.jpg') top right/cover no-repeat;
}

.creature--img--ghost {
  background:linear-gradient(#292525ff, #29252500), url('https://wallpaperaccess.com/full/6199706.jpg') top right/cover no-repeat;
}

.creature--img--psychic {
  background:linear-gradient(#292525ff, #29252500), url('https://i.pinimg.com/736x/90/ce/9e/90ce9ec7916bd43f65905e859e6ed359.jpg') top right/cover no-repeat;
}

.creature--img--omen {
  background:linear-gradient(#292525ff, #29252500), url('https://i.pinimg.com/736x/7c/aa/ea/7caaea12ef6c2a2d9953b93665930fd1.jpg') top right/cover no-repeat;
}

.creature--img--witch {
  background:linear-gradient(#292525ff, #29252500), url('https://i.pinimg.com/originals/d0/92/c5/d092c5383deb7b5669bcc5d32986ea38.jpg') top right/cover no-repeat;
}


/* #endregion Creature */

/* #region Journal */

.journal--overlay {
  position: absolute;
  z-index: 5;
  height: 87%;
  width: 100%;
  background: #292525ab;
}

.journal--container {
  position: absolute;
  top: 7.5%;
  width: 100%;
  height: 87%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.journal--wip {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 6;
  width: 100%;
  height: 100%;
  background-color: none;
  border: none;
  color: var(--light);
}

.journal--content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  width: 70%;
  height: 100%;
  padding: 0rem 4rem 0rem 4rem;
  overflow: none;
  gap: 3rem;
}

.journal--headline {
  height: 10%;
}

.journal--location-content {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 2rem;
  overflow: hidden;
}

.journal--location--titles {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  width: 40%;
  height: 100%;
  gap: 2rem;
  margin-left: 2rem;
}

.journal--location--entries {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  overflow: auto;
  width: 60%;
  height: 100%;
  max-height: 100%;
  gap: 2rem;
  transition: ease .3s;
}

.journal--entry {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 1rem
}

.journal--entry--title {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 100%;
  margin: 0;
  color: var(--gold);
  text-transform: uppercase;
  font-size: .72rem;
  letter-spacing: 0.37em;
}

.activeLocation {
  filter: blur(0px);
  opacity: 100%;
  color: var(--gold);
  transition: ease .3s;
}

.inactiveLocation {
  filter: blur(2px);
  opacity: 50%;
  color: var(--light);
  transition: ease .3s;
}

.journal--entry--body {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.75;
  letter-spacing: .05em;
  margin: 0;
}

.journal--main-objective {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 1rem
}

.journal--notif--icon {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: var(--red);
  border-radius: 50%;
  left: -1.75rem;
}

.journal--section--flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 2.25rem;
  overflow: visible;
}

/* #endregion Journal */

/* #region Headstones */

.headstone--type {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.headstone--headline{
  font-family: broadsheet,serif;
  font-weight: 400;
  font-style: italic;
  color: var(--white);
  font-size: 1.75rem;
  line-height: 100%;
  letter-spacing: .25rem;
  text-transform: uppercase;
}

.headstone--dates {
  color: var(--gold);
  font-family: broadsheet,serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 100%;
  text-transform: uppercase;
  font-variant-numeric: oldstyle-nums;
  letter-spacing: .25rem;
}

.headstone--epitaph {
  color: var(--gold);
  text-transform: uppercase;
  font-size: .825rem;
  line-height: 150%;
  letter-spacing: 0.37em;
  font-family: broadsheet,serif;
  font-weight: 300;
  font-style: normal;
}

.headstone--body {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 200%;
  letter-spacing: .05em;
}

.headstone--alignment {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  background-image: url('https://dani-sundell.github.io/explore-nocta/imgs/headstones.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.headstone--grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(4rem, 7rem));
  grid-template-rows: repeat(3, minmax(4rem, 7rem));
  grid-auto-flow: row;
  justify-content: start;
  align-content: start;
  min-width: 20rem;
  max-width: 35rem;
  grid-gap: 0;
  aspect-ratio: 5/ 3;
}

.headstone--1, 
.headstone--2, 
.headstone--3, 
.headstone--4, 
.headstone--5, 
.headstone--6, 
.headstone--7, 
.headstone--8, 
.headstone--9, 
.headstone--10, 
.headstone--11, 
.headstone--12, 
.headstone--13, 
.headstone--14, 
.headstone--15 {
  aspect-ratio: 1/ 1;
  border-color: var(--red);
  border-width: 0px;
  border-style: dashed;
}


/* #endregion Headstones */


@media screen and (max-width: 1279px) {
  .splash--button-stack {
    position: absolute;
    right: calc(50% - 9rem);
    top: 60%;
    display: flex;
    flex-direction: row;
    width: 18rem;
    gap: 1.5rem;
  }
}